.idea/
assets/hcfworld
assets/kek
assets/models
assets/players
assets/hcfworld.zip
assets/level.dat
assets/sotw.log
assets/worlds/*
*.dat
oomph/
*.exe*
*.toml*
db/
df/
mv/
multi/
teams
*.txt
configs/config.toml
.env
